language: node_js

node_js:
  - '12'

branches:
  only:
    - master

#install:
#  - npm install
#
#script:
# - npm run build

before_install:
  - echo -e "$AWS_ACCESS_KEY"
  - echo "$AWS_SECRET_KEY"
  - echo "$TRAVIS_TAG"
  - echo "$TRAVIS_SECURE_ENV_VARS"
  - echo tag

#deploy:
#  provider: s3
#  access_key_id: $AWS_ACCESS_KEY
#  secret_access_key: $AWS_SECRET_KEY
#  bucket: "richmedia-previews-s3bucket-khpmpnjb2dya"
#  region: eu-west-1
#  skip_cleanup: true
#  acl: public_read
#  local_dir: build
#  upload-dir: cid_example_banners_upload_dir
